*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
    margin: 0 auto;
    font-family: arial, "Times New Roman";

}
.header{
    width: 100%;
    padding: 40px 0;
    background-color: crimson;
    text-align: center;
}

/*_________________________________________________________________*/
/*Main menu*/
.wraper {
    width: 100%;
    background-color: azure;
}
.wraper ul{
    margin-right: 20%;
    list-style: none;
    float: right;

}
.wraper ul li{
    z-index: 10;
    position: relative;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    background-color: black;
}
.wraper ul li:hover{
    background-color: crimson;

}
.wraper ul ul{
    
    display: none;
    
}
.wraper ul li:hover > ul{
    display: block;
    background-color: black;
    z-index: 15;
}
.wraper ul li a{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    
}
/*____________________________________________________________________*/
.container{
    margin:0 0;
    padding: 4%;
    font-size: 16px;
    
}
.container header{
    text-align: center;
    padding: 2% 15px;
    font-size: 150%;
}
.container p{
    font-size: 110%;
}

.container img{
    
    max-width: 100%;
    margin-bottom: 2%;
    
}
/*______________________________________________________________________________*/
/*Strona Triale*/
#trialTable{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}
#trialTable th{
    width: 80px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid white;
}
#trialTable td{
    height: 40px;
    border: 1px solid white;
    position: relative;
    text-align: center;
    
    
}

#trialTable td a{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#trialTable td a:hover{
    background-color: crimson;
    
}

/*_________________________________________________________________________________________*/
/**/
#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.container figure{
    display: flex;
    max-width: 20%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;

}
.container figure img{
    flex-basis: 100%;
    width: 100%;
}
article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container figure:hover{
    border: 2px solid crimson;
    transition: 0.3s all linear;
    transform: scale(1.1);
}
/*________________________________________________________________*/

.form {
    margin:3rem auto;
    font-family:sans-serif;
    max-width:40rem;
}
.form .form-row {
    margin-bottom:1rem;
}
.form .form-row:last-child {
    margin-bottom: 0;
}
.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
}
.form input[type=text],
.form input[type=email],
.form textarea {
    border-radius:0.2rem;
    font-family:sans-serif;
    padding:0.8rem;
    border:1px solid #aaa;
    display: block;
    width:100%;
    color:#666;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color:#9DC9F5;
    box-shadow:inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
    outline:none;
}
.form textarea {
    height:10rem;
}
.form label {
    font-weight:bold;
    display: block;
    font-size:0.9rem;
    margin-bottom:0.5rem;
}
.form .submit-btn {
    font-family: sans-serif;
    padding:1rem 2rem;
    background: #F15C5C;
    border:0;
    border-radius:0.2rem;
    color:#fff;
    font-size:1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
    cursor: pointer;
}
.form .submit-btn:hover {
    background: #A60E0E;
}
.form .checkbox-cnt {
    padding-left:3rem;
    position: relative;
    font-weight: normal;
    font-size:0.85rem;
    line-height: 1.1rem;
    color:white;
    cursor: pointer;
}
.form .checkbox-cnt .state {
    width:2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left:0;
    top:0;
    border:1px solid #aaa;
    border-radius:0.2rem;
}
.form .checkbox-cnt .state:before {
    width:1rem;
    height: 1rem;
    border-radius:0.2rem;
    background: #F15C5C;
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    content:'';
    transform:translate(-50%, -50%) scale(1);
    opacity:0;
}
.form .checkbox-cnt input:checked ~ .state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}
.form .checkbox-cnt input {
    position:absolute;
    top:0; left:0;
    width:2rem;
    height: 2rem;
    z-index: 2;
    cursor:pointer;
    padding:0;
    margin:0;
    opacity: 0;
}
.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error ~ .state {
    border-color:#E01546;
}
.field-error {
    color:#E01546;
    padding:0.5rem 0;
    font-size:0.8rem;
}
@keyframes checkboxShowAnim {
    0%  { border-radius:50%; transform:translate(-50%, -50%) scale(0.2); }
    50% { transform:translate(-50%, -50%) scale(1.2); }
    100% { transform:translate(-50%, -50%) scale(1); }
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}
.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}
@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.form .send-error {
    display:inline-block;
    font-family: sans-serif;
    font-size:0.9rem;
    padding:1rem 1.5rem;
    color:#E01546;
}
.form-send-success {
    font-family: sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    border:1px solid #eee;
    color:#333;
    padding:10rem 0;
    margin:3rem auto;
    max-width:40rem;
}
.form-send-success strong {
    display:block;
    margin-bottom:0.5rem;
}
.form-send-success span {
    font-size:1rem;
    color:#888;
    font-weight:normal;
    display: block;
}
video{
    max-width: 700px;
    max-height: 700px;
}

#video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
}
.icon-instagram{
    margin-left: 2%;
    float: left;
    font-size: large;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}
.icon-instagram:hover{
    background-color: gray;
}
.icon-facebook{
    margin-left: 2%;
    float: left;
    font-size: large;
    transition: all 0.3s ease-in-out;
    padding: 10px;

}
.icon-facebook:hover{
    background-color: gray;
}

.duzy {
    font-size: 13pt;
    }
.maly {
    font-size: 8pt;
    }

.wraper button{
    display: flex;
    justify-items: center;
    align-content: center;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    float: right;
}
@media screen and (max-width:500px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
    .form .send-error {
        text-align:center;
        display: block;
    }
    #galeria figure{
        max-width: 100%;
    }
}